.lists .edit {
	display: none;
}

.lists .add-new-list {
    display: block;
}

.lists .editing .add-new-list {
    display: none;
}

.lists .editing .edit {
	display: block;
}

.item:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.list .panel-heading:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.item.selected {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
